* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.bg {
  background: url('https://i.pinimg.com/originals/2d/6a/44/2d6a445168b9bfd5141d79f7257bea28.jpg')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(100px);
}

.loading-Text {
  font-size: 50px;
  color: #fff;
}
